<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.sunhub.ITestListener.ITestListenerImplementation" />
	</listeners>


	<test thread-count="5" name="Test">
		<classes>
			<class name="com.sunhub.qa.test_cases.LoginPageTest" />
			<class name="com.sunhub.qa.test_cases.AddProductTest" />
			<class name="com.sunhub.qa.test_cases.CheckoutTest" /> 
			<class name="com.sunhub.qa.test_cases.RegisterPageTest" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
